.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  min-width: 20rem;
  width: calc((100% - 2rem) / 2);
  &:nth-child(odd) {
    margin-right: 2rem;
  }
}

.col-3 {
  width: calc((100% - 4rem) / 4);
  min-width: 20rem;
}

.col-4 {
  width: 33.3%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: calc((100% - 2rem) / 2);
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
