.header {
  width: 100%;
  border-bottom: 1px solid $color-gray-light;
  // margin-bottom: $small-gutter;
  background:#fff;

  &-mobile {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    &__image-box {
      // height: 2rem;
      margin-bottom: $small-gutter;
      @include clearfix;
    }

    &__logo-box {
      float: left;
    }

    &__hamburger-box {
      float: right;
    }

    &__logo {
      height: 4rem;
    }

    &__hamburger-image {
      height: 1.5rem;
    }

    &__search-box {
      width: 100%;
      margin-bottom: 1rem;
      display: flex;
    }

    &__search-input {
      font-family: "lato";
      width: 93%;
      height: 4rem;
      border: 1.3px solid $color-gray-light;
      border-right: 0;
      padding: 1rem;
      &::-webkit-input-placeholder {
        color: $color-sentient;
      }
    }

    &__search-img-box {
      width: 7%;
      height: 4rem;
      cursor: pointer;
      border-radius: 0.4rem;
      border: 1.3px solid #eee;
      border-left: 0;
      padding-top: 0.8rem;
      padding-right: 0.3rem;
    }

    &__search-img {
      width: 100%;
      height: 2rem;
    }
  }

  &-desktop {
    padding-top: 2rem;
    &__logo-box {
      padding-top: 0.8rem;
      width: 22%;
      float: left;
      transform: translateX(-1rem);
    }

    &__logo {
      height: 6rem;
      width: 11rem;
    }

    &__nav-list {
      padding-top: 1.5rem;
      list-style: none;
      text-align: right;
    }

.call-to-action{
  background: var(--color1);
  padding: 8px 18px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 17px;
}

    .text .middle-align{
      text-align: center;
    }

    section .text .middle-align{
        text-align: center;
    }

    //.bank-block-boxes.header-title,,h2.middle-align
    //.bank-block-boxes{
    //  text-align: center;
    //  display: block;
    //  margin: 0 auto;
    //}
    //
    //.call-to-action a{
    //  color: #ffffff;
    //}
    //
    //.call-to-action a:hover{
    //  transition: .3s ease-in-out;
    //  color: #a7a7a7;
    //}


    &__nav-item {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
 

    &__left-nav {
      padding-top: 1.5rem;
      display: flex;
    }

    &__search-box {
      width: 80%;
      padding-top: 0.4rem;
      display: flex;
    }

    &__search-input {
      margin-left: 7rem;
      font-family: "Lato";
      width: 72%;
      border: 0;
      height: 2.5rem;
      outline: none;
      border-bottom: 2px solid $color-black;
      background-color: $color-tertiary;

      &::-webkit-input-placeholder {
        color: $color-sentient;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: right;
      }
    }

    &__search-img-box {
      width: 7%;
      height: 2.5rem;
      cursor: pointer;
      border-bottom: 2px solid black;
    }

    &__search-img {
      width: 100%;
      height: 2rem;
      content: url(../img/search_dark.svg);
      transform: scale(0.8);
    }

    &__btn {
      height: 4rem;
      border: 1px solid $color-black;
      border-radius: 2rem;
      padding: 0 2rem;
      padding-top: 0.5rem;
      margin-top: -1rem;
    }
  }
}
