@media screen and (max-width: 600px) {
  .des-content {
    // display: none;
  }

  .hero__desktop-picture {
    display: none;
  }

  .col-6 {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  .col-4 {
    width: 100%;
  }

  .col-2 {
    margin-bottom: 2rem;
  }

  .u-padding--horizontal {
    padding: 0 2rem !important;
  }

  .footer-desktop {
    display: none;
  }

  .form-page__main {
    .breath {
      padding: 0;
      padding-top: 0;
    }
  }

  // Form page
  .form-page {
    &__main {
      .forms-section {
        padding: 0 !important;
      }
    }
  }

  // Search Result
  .bank-box__logo {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .des-content {
    // display: none;
  }

  .hero__desktop-picture {
    display: none;
  }

  .footer-desktop {
    display: none;
  }
}
