.canvas__footerSection {
  position: fixed;
  bottom: 0;
  z-index: 999999999;
  left: 0;
  width: 100%;

  .fa {
    height: 0;
    width: 1rem;
    background-color: inherit;
    border-radius: 0;
  }
}

.canvas__footer {
  background-color: var(--color1);
  //background-color: $tertiary-color;
  width: 100%;
}

.canvas__footerContent {
  width: 100%;
  display: inline-flex;
}

.canvas__footerProgress {
  width: 81%;
  margin-left: 2rem;
  //color: $secondary-color;
  color: #ffffff;
}

.canvas__footerNavigiation {
  width: 10%;
  display: flex;
  padding-bottom: 1rem;
}

progress[value] {
  width: 25rem;
  height: 0.5rem;
  margin-bottom: 2rem;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress::-webkit-progress-bar {
  background-image: linear-gradient(var(--color1), var(--color1));
  //background: linear-gradient($primary-color, $primary-color);
  border-radius: 3rem;
}
progress::-webkit-progress-value {
  background-image: linear-gradient(var(--color1), var(--color1));
  //background-image: linear-gradient($secondary-color, $secondary-color);
  border-radius: 3rem;
}

progress::-moz-progress-bar {
  background-image: linear-gradient(var(--color1), var(--color1));
  //background: linear-gradient($primary-color, $primary-color);
  border-radius: 3rem;
}

progress::-moz-progress-value {
  background-image: linear-gradient(var(--color1), var(--color1));
  //background-image: linear-gradient($secondary-color, $secondary-color);
  border-radius: 3rem;
}

@media only screen and (max-width: 600px) {
  .canvas__footerProgress {
    margin-left: 1rem;
    width: 70%;
  }

  .canvas__footerNavigiation {
    width: calc(30% - 1rem);
  }
}
