.intro {
  width: 100%;

  &__info {
    margin-bottom: $small-gutter;
  }

  &__infoText {
    text-align: center;
  }

  &__instruction {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 70%;
    color: $white-color;
    background-color: var(--color1);
    //background-color: $secondary-color;
    text-align: center;
    border-radius: 1.8rem;
    padding: 0.8rem 1rem;
    position: relative;
  }

  &__instructionWarning {
    white-space: nowrap;
    margin-right: 0.8rem;
  }

  &__instructionWarning,
  &__instructionIcon {
    display: inline-block;
  }

  &__instructionIcon {
    color: $tertiary-color;
    position: absolute;
    top: 0.8rem;
    font-size: 2rem;
  }

  &__requirements {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  &__requirement {
    width: calc((100% - 6rem) / 4);
    margin-bottom: $medium-gutter;
  }

  &__requirement:not(:last-child) {
    margin-right: $small-gutter;
  }

  &__icon {
    width: 15rem;
    height: 15rem;
    background-color: $tertiary-color-light;
    border-radius: 50%;
  }

  &__iconImage {
    height: 7rem;
    width: 100%;
    margin-top: 4rem;
  }

  &__requirementTextWrapper {
    width: 100%;
  }

  &__requirementText {
    font-size: 1.6rem;
    text-align: center;
  }

  &__actionBtnWrapper {
    width: 19%;
    margin: 0 auto;
    text-align: center;
  }

  &__actonInstruction {
    display: block;
    text-align: center;
    font-size: 1.4rem;
  }

  &__btn {
    text-decoration: none;
    font-size: $default-font;
    padding: 0.6rem 2rem;
    display: inline-block;
    transition: transform 0.2s;
    cursor: pointer;
    outline: none;
  }

  &__btn--primary {
    background-color: var(--color1);
    //background-color: $secondary-color;
    color: $white-color;
  }

  &__btn--action {
    border-radius: 10rem;
  }

  &__btn--action:hover {
    opacity: 0.8;
  }
}

.canvas__btn {
  text-decoration: none;
  font-size: $default-font;
  padding: 0.6rem 2rem;
  display: inline-block;
  transition: transform 0.2s;
  cursor: pointer;
  outline: none;
}

.canvas__btn--primary {
  background-color: #ffffff;
  //background-color: $secondary-color;
  color: var(--color1);
}

.fa-angle-down::before{
  color: var(--color1);
}

.canvas__btn--action {
  white-space: nowrap;
  border-radius: 10rem;
}

.canvas__btn--action:hover {
  opacity: 0.8;
}

.canvas__btn--navigation {
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
}

.canvas__btn--navigation:first-child {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .intro__instruction {
    width: calc(100% - 2rem);
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .intro__instructionWarning {
    margin-right: 0;
  }

  .intro__requirements {
    margin: 0 0.5rem;
    width: 100%;
    flex-direction: column;
  }

  .intro__requirement {
    width: 100%;
    display: flex;
    margin-bottom: 0;
  }

  .intro__requirement:not(:last-child) {
    margin-bottom: 3rem;
  }

  .intro__icon {
    width: 8rem;
    height: 7rem;
  }

  .intro__iconImage {
    height: 3rem;
    margin-top: 2rem;
  }

  .intro__requirementTextWrapper {
    width: 100%;
    margin-left: 0.5rem;
    margin-top: 1.5rem;
  }

  .intro__requirementText {
    text-align: left;
  }

  .intro__actionBtnWrapper {
    width: 22%;
  }

  .intro__actonInstruction {
    margin-left: 4rem;
  }
}


/****************************************
Intro page styles goes here
****************************************/
//.container-fluid{ //background: #e90052;//}

section.stretch{ background: var(--color1); padding: 10px 20px;}

.image-left {
  padding: 40px 15px;
  background: #ffffff;
  border-radius: 100px;
  margin: 0 5px;
}

.row .bank-name{
  text-align: center;
  font-size: 1.6em;
  text-transform: capitalize;
  color: #fff;
  margin: 0 auto;
  padding-top: 28px;
}


  /*=========================================================
  Form element Styling starts from here
  ========================================================= */
  .parent-wrap{text-align: center;}

  .requirement{
    //border: 2px solid #827f7f;
    //padding: 15px 17px;
    //font-size: 12px;
    //border-radius: 100%;
  }

.intro__iconImage{
  padding: 18px 20px;
  border: 2px solid var(--color1);
  //border: 2px solid #f00;
  width: 21%;
  border-radius: 100%;
}

  .bottom h5{padding: 20px 20px;}

  .cover-center h3{
    text-align: center;
    margin: 0 auto;
    width: 75%;
    line-height: 1.5;
    margin-top: 30px;
  }

  .form-header{
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .form-header:after{
    display: block;
    height: 2px;
    background-color: #202020;
    content: " ";
    width: 50px;
    margin: 0 auto;
    margin-top: 10px;
  }

  .btn-link {
    background: var(--color1);
    border: none !important;
    padding: 15px 25px;
    border-radius: 100px;
    font-weight: 500;
    color: #ffffff;
  }

  .buttons{
    margin-top: 10px;
    text-align: center;
    padding: 35px 0px;
  }

  .btn-link {
    background: var(--color1) !important;
    border: none;
  }

  .btn-link:hover {
    color: #000000;
    text-decoration: none;
    transition: ease-in 0.2s;
  }



 //media query for (mobile and small devices)
@media only screen and (max-width: 600px) {
  .col-3 {
    width: 100%;
  }

  .intro__iconImage {
    //padding: 40px 20px;
    //border: 2px solid #f00;
    border: 2px solid var(--color1);
    //border: 2px solid #f00;
    width: 20%;
    border-radius: 100%;
  }

  .intro__iconImage {
    height: 8rem;
    margin-top: 2rem;
  }
}


//For mobile device (iphone, android and Ipad minimum viewport)
@media only screen and (max-width: 600px) {
  .row .bank-name{
    font-size: 1.1em;
    margin: -10px 50px;
  }

  .image-left {
    background: #ffffff;
    width: 10%;
    display: block;
    padding: 17px 38px;
    border-radius: 100px;

  }

  .image-left img {
    padding: 5px 5px;
    width: 70px;
    margin-left: -35px;
  }
}


@media only screen and (min-width: 900px) {
  .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
