body{
  height: 100vh;
}

.intro {
  width: 100%;

  &__info {
    margin-bottom: $small-gutter;
  }

  &__infoText {
    text-align: center;
  }

  &__instruction {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 70%;
    color: $white-color;
    background-color: var(--color1);
    //background-color: $secondary-color;
    text-align: center;
    border-radius: 1.8rem;
    padding: 0.8rem 1rem;
    position: relative;
  }

  &__instructionWarning {
    white-space: nowrap;
    margin-right: 0.8rem;
  }

  &__instructionWarning,
  &__instructionIcon {
    display: inline-block;
  }

  &__instructionIcon {
    color: $tertiary-color;
    position: absolute;
    top: 0.8rem;
    font-size: 2rem;
  }

  &__requirements {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  &__requirement {
    width: calc((100% - 6rem) / 4);
    margin-bottom: $medium-gutter;
  }

  &__requirement:not(:last-child) {
    margin-right: $small-gutter;
  }

  &__icon {
    width: 15rem;
    height: 15rem;
    background-color: $tertiary-color-light;
    border-radius: 50%;
  }

  &__iconImage {
    height: 7rem;
    width: 100%;
    margin-top: 4rem;
  }

  &__requirementTextWrapper {
    width: 100%;
  }

  &__requirementText {
    font-size: 1.6rem;
    text-align: center;
  }

  &__actionBtnWrapper {
    width: 19%;
    margin: 0 auto;
    text-align: center;
  }

  &__actonInstruction {
    display: block;
    text-align: center;
    font-size: 1.4rem;
  }

  &__btn {
    text-decoration: none;
    font-size: $default-font;
    padding: 0.6rem 2rem;
    display: inline-block;
    transition: transform 0.2s;
    cursor: pointer;
    outline: none;
  }

  &__btn--primary {
    background-color: var(--color1);
    //background-color: $secondary-color;
    color: $white-color;
  }

  &__btn--action {
    border-radius: 10rem;
  }

  &__btn--action:hover {
    opacity: 0.8;
  }
}

.canvas__btn {
  text-decoration: none;
  font-size: $default-font;
  padding: 0.6rem 2rem;
  display: inline-block;
  transition: transform 0.2s;
  cursor: pointer;
  outline: none;
}

.canvas__btn--primary {
  background-color: #ffffff;
  //background-color: $secondary-color;
  color: var(--color1);
}

.fa-angle-down::before{
  color: var(--color1);
}

.canvas__btn--action {
  white-space: nowrap;
  border-radius: 10rem;
}

.canvas__btn--action:hover {
  opacity: 0.8;
}

.canvas__btn--navigation {
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
}

.canvas__btn--navigation:first-child {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .intro__instruction {
    width: calc(100% - 2rem);
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .intro__instructionWarning {
    margin-right: 0;
  }

  .intro__requirements {
    margin: 0 0.5rem;
    width: 100%;
    flex-direction: column;
  }

  .intro__requirement {
    width: 100%;
    display: flex;
    margin-bottom: 0;
  }

  .intro__requirement:not(:last-child) {
    margin-bottom: 3rem;
  }

  .intro__icon {
    width: 8rem;
    height: 7rem;
  }

  .intro__iconImage {
    height: 3rem;
    margin-top: 2rem;
  }

  .intro__requirementTextWrapper {
    width: 100%;
    margin-left: 0.5rem;
    margin-top: 1.5rem;
  }

  .intro__requirementText {
    text-align: left;
  }

  .intro__actionBtnWrapper {
    width: 22%;
  }

  .intro__actonInstruction {
    margin-left: 4rem;
  }
}


/****************************************
Intro page styles goes here
****************************************/
//.container-fluid{ //background: #e90052;//}

// section.stretch{ background: var(--color1); padding: 10px 20px; height: 130px;}
section.stretch{ background: var(--color1); padding: 10px 20px; height: 130px;}
section.container-fluid {
  //background: #f5f5f5;
  padding-bottom:100px;
}

.image-left {
  padding: 9px 17px !important;
}

.dynamic-image-parent{
  padding: 42px 23px;
  background: #ffffff;
  border-radius: 100px;
  margin: 18px 15px;
  width: auto;
}


.row .bank-name{
  text-align: center;
  font-size: 1.4em;
  text-transform: capitalize;
  color: #fff;
  margin: 0 auto;
  // padding-top: 28px;
}


.bank-page-dynamic{
  width: 6rem !important;
  height: 6rem !important;
}

.bank-page-dynamic{
margin-top: 10px !important;
}


  /*=========================================================
  Form element Styling starts from here
  ========================================================= */
  .parent-wrap{text-align: center; margin-bottom: 20px;}

.intro__iconImage{
  padding: 18px 20px;
  //border: 2px solid var(--color1);
  width: 23%;
  border-radius: 100%;
  background: #ffffff;
  -webkit-box-shadow: -5px 4px 18px 3px rgba(227,227,227,0.83);
  -moz-box-shadow: -5px 4px 18px 3px rgba(227,227,227,0.83);
  box-shadow: -5px 4px 18px 3px rgba(227,227,227,0.83);
}

.intro__iconImage:hover{
  transition: ease-in-out 0.2s;
  cursor: pointer;
  -webkit-box-shadow: -5px 4px 18px 3px rgba(242,242,242,1);
  -moz-box-shadow: -5px 4px 18px 3px rgba(242,242,242,1);
  box-shadow: -5px 4px 18px 3px rgba(242,242,242,1);
}


  .bottom h5{padding: 20px 20px;}

  .cover-center h3{
    text-align: left;
    margin: 0 auto;
    width: 80%;
    line-height: 1.5;
    margin-top: 30px;
    font-weight: 300;
    margin-bottom: 40px;
    font-size: 1.9rem;
  }

  .form-header{
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .text-flow{
    font-weight: 400;
  }

  .form-header:after{
    display: block;
    height: 1px;
    background-color: #c3c3c3;
    content: " ";
    width: 50px;
    margin: 0 auto;
    margin-top: 10px;
  }

  .btn-link {
    background: var(--color1);
    border: none !important;
    padding: 15px 25px !important;
    border-radius: 100px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 auto;
    display: block;
    max-width: 30%;
    margin-top: 40px !important;
  }

  .buttons{
    margin-top: 20px;
    text-align: center;
    padding: 35px 0px;
  }

  .btn-link {
    background: var(--color1) !important;
    border: none;
  }

  .btn-link:hover {
    color: #000000;
    text-decoration: none;
    transition: ease-in 0.2s;
  }

.image-left {

}


 //media query for (mobile and small devices)
@media only screen and (max-width: 600px) {
  .col-3 {
    width: 100%;
  }

  .intro__iconImage {
    //border: 2px solid var(--color1);
    width: 22% !important;
    border-radius: 100%;
  }

  .intro__iconImage:hover{
    transition: ease-in-out 0.2s;
    cursor: pointer;
    -webkit-box-shadow: -5px 4px 18px 3px rgba(242,242,242,1);
    -moz-box-shadow: -5px 4px 18px 3px rgba(242,242,242,1);
    box-shadow: -5px 4px 18px 3px rgba(242,242,242,1);
  }

  .intro__iconImage {
    height: 8rem;
    margin-top: 2rem;
  }

  .cover-center h3 {
    text-align: left;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 90%;
    line-height: 1.5;
    margin-top: 30px;
    font-weight: 300;
    margin-bottom: 40px;
    font-size: 1.4rem;
  }

  .btn-link {
    max-width: 100%;
    //margin-top: 40px !important;
  }

  .bank-page-dynamic {
    width: 4rem !important;
    height: 4rem !important;
  }


}

//For mobile device (iphone, android and Ipad minimum viewport)
@media only screen and (max-width: 600px) {
  .row .bank-name{
    font-size: 1em;
    margin: -14px 32px;
  }

  .image-left {
    background: #ffffff;
    width: 20%;
    display: block;
    padding: 3px 31px !important;
    border-radius: 100px;
    margin: 0px 0px !important;

  }

  .image-left img {
    padding: 5px 5px;
    //width: 70px;
    margin-left: -21px !important;
    //margin: 5px -5px !important;
  }

  section.stretch {
    height: 90px !important;
    //height: 0px !important;
  }

}


@media only screen and (min-width: 900px) {
  .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
