.uploadSection {
  margin-bottom: 2rem;
}

.dropArea {
  position: relative;
  height: 24vh;
  min-height: 24rem;
  width: 58%;
  min-width: 40rem;
  border: 4px dashed $color-sentient;
  border-radius: 8px;
  text-align: center;
}

.highlightArea {
  border-color: $color-secondary;
}

.dropAreaContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uploadInstruction {
  margin-bottom: 1rem;
}

.logo {
  display: none;
}

.inputLabel {
  padding: 1.1rem 2.9rem;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  background-color:  var(--color1);
  //background-color: $color-secondary;
  color: $color-white;
}

.uploadingImgWrapper {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  border: 2px solid $color-sentient;
}

.uploadedImgWrapper {
  height: 17rem;
  width: 17rem;
  position: relative;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  border: 2px solid $color-secondary;
}

.img {
  height: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.uploadedImg {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .dropArea {
    min-width: 100% !important;
  }

  .inputLabel {
    white-space: nowrap;
  }
}
