
.main-content {
  width: 70%;
  margin-right: 2rem;
}

.section-description {
  margin-left: 11rem;
}

/*====================
page style starts here
/*====================*/
.bankhome-page{
  //background: var(--color1);
  background: #ff5825 !important;
}

.dynamic-image-left{
  padding: 25px 25px;
  background: #ffffff;
  border-radius: 100px;
  margin: 10px 5px;
  width: auto;
}

.dynamic{
  margin-top: 27px;
}

.dynamic{
  width: 6rem !important;
  height: 6rem !important;
}

.header-wraps{
  margin-top: -170px;
}

.header-desktop__logo-box {
  padding-top: 0rem;
  margin-left: -30px;
}

.des-content{
  background-color: transparent;
}

.image-left {
  padding: 40px 15px;
  background: #ffffff;
  border-radius: 100px;
  margin: 0 5px;

}

.header .bank-name{
  text-align: center;
  font-size: 1.6em;
  text-transform: capitalize;
  color: #fff;
  margin: 0 auto;
  padding-top: 28px;
}


.form-type {
  width: 88%;
  padding-top: 3rem;
  background-color: #fff;
  position: relative;
  height: 16rem;
  border-radius: 5px;
  cursor: pointer;
}


.des-tab-head__btn--active {
  padding: 1rem 3rem;
  opacity: 1;
  background-color: var(--color1);
  color: #ffffff;
}

.des-tab-head-section { //tab-line style
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding-left: 0rem;
  border-bottom: 3px solid #fff;
}

//Section description content starts here
.bank-slogan{
  max-width: 80%;
  margin-left: 11rem;
  font-size: 16px;
  padding: 15px 0px;
}

.section-description {
  background: #ffffff;
  margin-left: 0rem !important;
  margin-top: -140px;
}

//Section description content ends here
.form-type__text-box {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-bottom: 0px;
  margin-bottom: 3rem;
  text-align: center;
  padding-top: 15px;
}

.form-type__img-box {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-bottom: 1rem;
  margin: 0 auto;
  text-align: center;
}

.outer-space{
  height: 160vh !important;
}


.more{
  background: #202020;
  color: #ffffff;
  max-width: 100%;
  margin-top: 17px;
}

.form-type:hover{
  background: var(--color1) !important;
  color: #ffffff;
}


.test:after {
  content: '\2807';
  font-size: 25px;
  position: absolute;
  top: 1px;
  left: 135px;
}

/*========================
Page modal starts here
===========================*/

.modal-body p{
  border-bottom: 1px solid #949494;
  font-size: 14px;
  color: var(--color1);
}

.modal-body a{
  text-decoration: none;
}

.modal-body p:hover{
  color: #5f6a7c;
}

.modal-header {
  border-bottom: none;
  //background: #38003c !important;
  background: var(--color1) !important;
  text-align: center;
  display: block;
  color: #ffffff;
}

.modal-footer {border-top: none;}

.modal-title{
  font-size: 18px;
  font-weight: 700;
}

.modal-content {
  margin-top: 30px !important;
}

.close-buttons {
  font-size: 20px;
  margin-right: 2px;
  background: black;
  position: absolute;
  border-radius: 100%;
  padding: 7px 10px;
  top: -16px;
  left: 490px;
}
.close {color: #ffffff;}
.close:hover {color: #ffffff;}

//For mobile device (iphone, android and Ipad minimum viewport)
@media only screen and (max-width: 600px) {
  .row .bank-name{
    font-size: 1.1em;
    margin: -10px 50px;
  }

  .image-left {
    background: #ffffff;
    width: 10%;
    display: block;
    padding: 17px 38px;
    border-radius: 100px;
  }

  .image-left img {
    padding: 5px 5px;
    width: 70px;
    margin-left: -35px;
  }

  .outer-space{
    height: 80vh !important;
  }

  .header-mobile__logo{
    height: 3rem;
  }

  .mob-tab-head--active{
    background: var(--color1) !important;
  }

  .header-mobile__logo-box{
    margin-top: -15px;
    background: #ffffff;
    width: 15%;
    padding: 10px 10px;
    border-radius: 100px;
  }

  .tertiary-heading {
    font-family: "Source Sans Pro";
    font-size: 1.7rem;
    font-weight: 400;
    padding-top: 5px;
  }

  .rectangle-box {
    height: 7rem;
    width: 109%;
  }


}


