.main-content {
  width: 70%;
  margin-right: 2rem;
}

.section-description {
  margin-left: 11rem;
}


/*====================
page style starts here
/*====================*/

.form-type {
  width: 88%;
  padding-top: 3rem;
  background-color: #fff;
  position: relative;
  height: 16rem;
  border-radius: 5px;
  cursor: pointer;
}

.des-tab-head-section { //tab-line style
  height: 4.3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding-left: 0rem;
  border-bottom: 3px solid #fff;
}

.u-margin-bottom--small {
  margin-bottom: 4rem;
}

.form-type__text-box {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-bottom: 0px;
  margin-bottom: 3rem;
  text-align: center;
  padding-top: 15px;
}

.form-type__img-box {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-bottom: 1rem;
  margin: 0 auto;
  text-align: center;
}

.des-tab-head__btn--active{ background: var(--color1) !important; color: #fff;}

.u-margin-bottom--small:hover{ color: var(--color1); }

.form-list:hover{color: #ffffff; background: var(--color1); cursor: pointer; }

span.more:hover{ /*color: #ffffff; */ background: var(--color1); /*cursor: pointer; */}

.form-list{
  background: #202020;
  color: #ffffff;
  width: 100%;
  padding: 2px 0px;
  margin-top: 2px;
}

.test:after {
  content: '\2807';
  font-size: 25px;
  position: absolute;
  top: 1px;
  left: 135px;
}

/*========================
Page modal starts here
===========================*/

.modal-body p{
  border-bottom: 1px solid #949494;
  //text-align: center;
  font-size: 14px;
  color: var(--color1);
}

.modal-body a{
  text-decoration: none;
}

.modal-body p:hover{
  color: #5f6a7c;
}

.modal-header {
  border-bottom: none;
  margin: 0 auto;
}

.modal-footer {border-top: none;}

.modal-title{
  font-size: 16px;
  //text-align: center;
  font-weight: 500;
}

.modal-content {
  margin-top: 150px;
}

.close{
  font-size: 20px;
  color: #000;
  margin-right: 2px;
}
