.faq-page__main {
  .section-title {
    background-color: $color-primary;
  }
}

.text-section {
  background-color: $color-white;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px rgba(14, 14, 14, 0.1);
  &__checkbox {
    display: none;
  }

  &__head {
    transition: all 0.3s;
  }

  &__head-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2rem;
    color: $secondary-color;
  }

  &__icon-wrapper {
    height: 2rem;
    width: 1.8rem;
    cursor: pointer;
  }

  &__icon {
    max-height: 100%;
    max-width: 100%;
  }

  &__body {
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: all 0.3s;
  }

  &__body-content {
    padding-left: 2rem;
  }

  &__body-content-list {
    padding-left: 1rem;
    list-style: circle;
  }

  &__checkbox:checked + &__head {
    border-bottom: 1px $border-color solid;
    margin-bottom: 3rem;
  }

  &__checkbox:checked ~ &__body {
    opacity: 1;
    height: 100%;
    visibility: visible;
  }

  &__checkbox:checked ~ &__head &__icon {
    content: url(../img/carat-up.svg);
  }
}
