.home-page {
  .header-desktop__search-input {
    background-color: $color-white;
  }
}

.hero-section {
  padding: 0 3rem;
}

.partners-section {
  padding: 0 2rem;
}

.features-section {
  padding: $padding-small 0;
  color: $color-white;
  font-family: "lato";
  background-size: cover;
  background-image: url(../img/mobile_background.svg);
}
a:hover{
  color: #c0c0c0;
  text-decoration: none !important;
}