.partners-page__main {
  padding: 50px;
  min-height: 80vh;
  .section-title {
    //background-color: $color-primary;
    background-color: #acacac !important;
    height: 170px;
    //margin-bottom: 40px;
  }
  .tertiary-heading {
    padding-top: 1rem;
    font-size: 1.8rem;
  }
  .section-title h1:after {
    display: block;
    height: 2px;
    background-color: #fff;
    content: " ";
    width: 40px;
    margin: 0 auto;
    margin-top: 10px;
  }

  .heading-info {
    font-size: 2rem;
    margin-bottom: 30px;
    .big {
      font-weight: bold;
      margin-right: 2rem;
      font-size: 3rem;
    }
    .sub {
      color: #999;
      font-weight: normal !important;
    }
  }
  .loading-text {
    font-size: 30px;
    font-weight: bold;
    color:#777;
    text-align: center;
    width: 100%;
    padding-top:40px;
  }
}

.section-text {
  // padding: 10rem 2rem;
}
.banks-section {
  background: inherit;
  // padding: 0 2rem;
}

@media only screen and (max-width: 600px) {
  .banks-section {
    display: block;
  }
}
