<!--<a href="" class="mark-all-item">-->
<div class="hidden-sm hidden-xs hidden-md">
    <div class="des-individaul-tab-content">
        {{#each individaulChunks}}
            <div class="row u-margin-bottom--small">
                {{#each this }}

                    <!--<a href="" class="inner">-->
                    <div class="col-3">
                        <div class="form-type">

                            <!--<a href="/{{!../../slug}}/formgroup/individual/{{!lower (noWhiteSpace this.name)}}/forms">-->
                            <!--<span class="rectangle-box__link"></span></a>-->

                            <a class="listFormTrigger"
                                href="/{{../../slug}}/formgroup/individual/{{lower (noWhiteSpace this.name)}}/forms"
                                data-formgroup="individual" data-formname="{{lower (noWhiteSpace this.name)}}"><span
                                    class="rectangle-box__link"></span></a>


                            <div class="form-type__img-box">
                                <!--<div class="form-type__img-box" data-toggle="modal" data-target="#myModal">-->
                                <img src="/img/{{lower (noWhiteSpace this.name)}}_clear.svg" class="form-type__img"
                                    alt="{{this.name}}">
                            </div>
                            <div class="form-type__text-box form-list" data-toggle="modal" data-target="#myModal">
                                <h3 class="tertiary-heading">{{this.name}}</h3>
                                <div class="more">List all Forms</div>
                            </div>

                            <div class="test"></div>
                        </div>
                    </div>
                    <!--</a>-->





                {{/each}}
            </div>
        {{/each}}
    </div>
    <!--</a>-->



    <div class="des-corporate-tab-content">
        <!--<div class="des-corporate-tab-content" style="background: greenyellow;">-->
        {{#each corporateChunks}}
            <div class="row u-margin-bottom--small">
                {{#each this }}
                    <div class="col-3">
                        <div class="form-type">
                            <a class="listFormTrigger"
                                href="/{{../../slug}}/formgroup/corporate/{{lower (noWhiteSpace this.name)}}/forms"
                                data-formgroup="corporate" data-formname="{{lower (noWhiteSpace this.name)}}"><span
                                    class="rectangle-box__link"></span></a>
                            <div class="form-type__img-box">
                                <img src="/img/{{lower (noWhiteSpace this.name)}}_clear.svg" class="form-type__img"
                                    alt="{{this.name}}">
                            </div>
                            <div class="form-type__text-box">
                                <h3 class="tertiary-heading">{{this.name}}</h3>
                                <div class="more">List all Forms</div>
                            </div>

                            <div class="test"></div>
                        </div>
                    </div>
                    <!--</a>-->
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>



<!-- popup modal starts here-->
<!--<div class="container">-->

<!-- The Modal -->
<div class="modal" id="myModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document" aria-hidden="true">
        <!--<div class="modal-dialog modal-dialog-scrollable" role="document">-->
        <div class="modal-content">

            <span class="close-buttons"><button type="button" class="close" data-dismiss="modal">&times;</button></span>

            <!-- The Header -->
            <div class="modal-header">
                <h3 class="modal-title">Registration Form(s)</h3>
            </div>
            <!-- Modal body -->
            <div class="modal-body">

                <!--<a href="<a href="/{{!../../slug}}/{{!lower form.workspace.parent}}/{{!lower form.workspace.name}}/{{!form.slug}}">-->
                <!--<span class="form-box__link"></span></a>" class=""><p> Savings Account </p></a>-->

                {{!-- <a href="" class=""><p> Savings Account </p></a>
                    <a href="" class=""><p> Savings Account </p></a>
                    <a href="" class=""><p> Fixed Account </p></a>
                    <a href="" class=""><p> DOM Account </p></a>
                    <a href="" class=""><p> Business Account </p></a>
                    <a href="" class=""><p> CAC Certificate Account </p></a>
                    <a href="" class=""><p> Mastercard </p></a> --}}
            </div>

            <!-- Modal footer -->
            <div class="modal-footer"></div>




        </div>
    </div>
</div>
<!--</div>-->
<!-- popup modal ends here-->