{{#each banks}}
  <div class="bank-wrapper col-md-2 u-margidn-bottom--small">
    <a href="{{this.slug}}" style="text-decoration: none;">
      <div class="bank-box" style="background: {{this.color}};">
        <div class="bank-box__header u-margin-bottom--thin">
          <h3 class="tertiary-heading"></h3>
        </div>
        <div class="bank-box__logo">
          <!--<p>Yeh</p>-->
          <img src="{{this.logo}}" class="bank-box__img" alt="{{this.slug}} logo">
        </div>
        <div class="bank-box__footer  u-margin-bottom--thin">
          <!--<a href="//{{!this.slug}}//" class="btn-text bank-box__link">--->
          <span class="footer-text"> {{this.name}} Forms </span>
        </div>
      </div>
    </a>
  </div>
{{/each}}