.bank-wrapper {
  // padding: 10px;
}
// .bank-wrapper:first-child {
//   width: 300px;
//   background-color: black;
// }
// .bank-wrapper:not(:first-child) {
//   background: red;
//   flex:1;
// }
.bank-box:hover {
  box-shadow: 0 0 10px #555;
}
.bank-box {
  //border-bottom: 2px solid $color-secondary;
  // box-shadow: 0 0.5rem 2rem rgba($color-black, 0.1);
  box-shadow: 0 0 5px #aaa;
  background-color: $color-white;
  background-color: var(--color1);
  border-radius: 2px;
  margin-bottom: 20px;
  //height: 18rem !important;
  
  &__header {
    text-align: center;
  }

  &__logo {
    //width: 40%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .tertiary-heading {
    //padding: 20px;
  }

  .bank-box .bank-box__logo .bank-box__img img {
    background: #00bf96;
  }

  &__img {
    height: 5rem;
    display: block;
    margin: 0 auto;
    //width: 7rem;
  }

  &__footer {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    background: #ffffff;
  }

  .bank-box__footer {
    width: 100%;
    margin-top: 53px;
    text-align: center;
    padding: 5px;
  }

  &__footer .footer-text {
    margin-top: -10px;
    color: #222;
    font-weight: bold;
    //background: #c74057;
  }
}
