.btn {
  &:link,
  &:visited {
    text-decoration: none;
    font-size: $default-font;
    border-radius: 10rem;
    padding: 0.7rem 4.5rem;
    display: inline-block;
    transition: transform 0.2s;
  }

  &--primary {
    background-color: $color-secondary;
    color: $color-white;
    font-weight: bold;
  }

  &:hover,
  &:focus {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}

.btn-text {
  &:link,
  &:visited {
    text-decoration: none;
    font-size: 1rem;
    border-radius: 12rem;
    display: inline-block;
    transition: transform 0.2s;
    background-color: $color-white;
    border: 2px solid $color-gray;
    padding: 0.1rem 2rem;
    color: $color-gray;
  }

  &:hover,
  &:focus {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
    border: 1px solid $color-secondary;
    color: $color-secondary;
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    border: 1px solid $color-secondary;
    color: $color-secondary;
  }
}
