.form-page {
  &__main {
    .section-title {
      color: $color-white;
    }
  }
}

.form-box {
  height: 6rem;
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0rem 0.5rem 2rem rgba(14, 14, 14, 0.2);
  position: relative;

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__img-box {
    width: 13%;
    border-radius: 3px;
    background-color: $color-gray;
  }

  &__img-innerbox {
    width: 4rem;
    margin: 0 auto;
    margin-top: 1rem;
  }

  &__img {
    height: 4rem;
    width: 4rem;
    transform: scale(0.6);
  }

  &__text-box {
    width: 64%;
    padding-top: 2rem;
    padding-left: 0.5rem;
  }

  &__timer-box {
    width: 23%;
  }

  &__timer-innerbox {
    position: relative;
    margin-left: 1rem;
    padding-top: 0.3rem;
  }

  &__timer {
    height: 6rem;
  }

  &__timer-text {
    font-size: 1.2rem;
    position: absolute;
    left: 1.8rem;
    top: 2.4rem;
  }
}
