.bank-home__main {
  background: #eee;
  min-height: 900px;
}
.forms-section-cont{
  padding:20px;
}
.forms-section{
  background:#fff;
}
.form-page {
  &__main {
    background:#eee;
    min-height:700px;
    .section-title {
      color: $color-white;
      color: #000;
      background:#fff;
      padding-top:2rem;
      h1 {
        font-size: 20px;
      }
    }
  }
}

.form-box {
  // height: 6rem;
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0rem 0.5rem 2rem rgba(14, 14, 14, 0.2);
  position: relative;

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__img-box {
    width: 13%;
    border-radius: 3px;
    background-color: $color-gray;
  }

  &__img-innerbox {
    width: 4rem;
    margin: 0 auto;
    margin-top: 1rem;
  }

  &__img {
    height: 4rem;
    width: 4rem;
    transform: scale(0.6);
  }

  &__text-box {
    width: 64%;
    //padding-top: 2rem;
    //padding-left: 0.5rem;
  }

  &__timer-box {
    width: 23%;
  }

  &__timer-innerbox {
    position: relative;
    margin-left: 1rem;
    padding-top: 0.3rem;
  }

  &__timer {
    height: 6rem;
  }

  &__timer-text {
    //font-size: 1.2rem;
    //position: absolute;
    //left: 1.8rem;
    //top: 2.4rem;
  }
}

.modal-lists {
  // height: 3rem;
  width: 90%;
  margin: 0 auto;
  border-radius: 0px;
  box-shadow: none !important;
  position: relative;
  margin-top: 10px;
}

.list-forms {
  width: 2%;
  border-radius: 0px;
  background-color: transparent;
}

.form-box__text-box {
  margin-top: 5px;
  color: #0757db;
  color: var(--color1);
  //color: #797979;
}

.list-form-modal:hover {
  color: #f11642;
}

.modal-dialog,
.modal-content {
  /* 80% of window height */
  height: 80%;
}

.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 120px);
  overflow-y: scroll;
}

.form-listings {
  //space between forms
  margin-bottom: 0rem !important;
}

.col-12 .modal-lists {
  width: 100%;
  border-bottom: 1px solid #85858530;
  padding: 10px 30px !important;
  margin-left: 13px;
}
.col-12:last-child .modal-lists {
  border-bottom: none;
}
