.rectangle-box {
  height: 6rem;
  width: 100%;
  display: flex;
  position: relative;
  border-bottom: 1px solid $color-gray-light;

  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 1;
  }

  &__img-box {
    width: 20%;
    padding: 1.5rem;
  }

  &__img {
    height: 3.5rem;
    width: 5rem;
  }

  &__text-box {
    width: 60%;
    padding: 1.5rem;
    padding-left: 0.5rem;
  }

  &__arrow-box {
    width: 10%;
    padding: 1.5rem;
    font-size: $default-font;
  }
}


//For mobile device (iphone, android and Ipad minimum viewport)
@media only screen and (max-width: 700px) {
  .rectangle-box {
    &__img-box {
      width: 20%;
      padding: 0rem;
      position: relative;
      top:20px;
      left:10px;

    }

    &__img {
      height: 3rem;
      width: 4rem;

    }

    &__text-box {
      width: 60%;
      padding: 0;
      padding-left: 2.5rem;
    }
  
    &__arrow-box {
      width: 10%;
      padding: 1.5rem;
      font-size: $default-font;
    }
  }  
}