.des-tab-head-section {
  height: 4.3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding-left: 3rem;
  border-bottom: 3px solid $color-white;
}

.mob-tab-head-section {
  padding: 2rem 0;
}

.mob-tab-head {
  width: 50%;
  height: 3rem;
  border-bottom: 1px solid $color-gray-light;
  &--active {
    border-bottom: 3px solid $color-black;
  }
  &__content {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
    cursor: pointer;
  }
}

.des-tab-head__btn {
  text-decoration: none;
  font-size: 1.7rem;
  display: inline-block;
  transition: all 0.2s;
  color: $color-black;
  opacity: 0.2;
  padding: 0 1rem;
  cursor: pointer;
  &--active {
    padding: 1rem 3rem;
    opacity: 1;
    background-color: $color-white;
  }
}

.mob-individaul-tab-content {
  transition: all 0.2s;
}

.des-individaul-tab-content,
.mob-individaul-tab-content {
  transition: all 0.2s;
}

.des-corporate-tab-content,
.mob-corporate-tab-content {
  height: 0;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
}

.des-individaul-tab-content.hide,
.mob-individaul-tab-content.hide {
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.des-corporate-tab-content.visible,
.mob-corporate-tab-content.visible {
  height: auto;
  opacity: 1;
  pointer-events: auto;
}

.des-individaul-tab-content.visible,
.mob-individaul-tab-content.visible {
  height: auto;
  opacity: 1;
  pointer-events: auto;
}
