<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Swyp | Life Simplified</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


  </head>

  <body class="{{bodyClass}}">
    <!--<header class="header" style="background: blue;">-->
    <header class="header bankhome-page">
      <div class="header-mobile mob-content hidden-lg hidden-xl hidden-md">
        <div class="header-mobile__image-box">
          <a href="/{{bankSlug}}">
            <div class="header-mobile__logo-box">
              <img src="/img/unionsbank.png" alt="Bank Logo" class="header-mobile__logo" id="banklogo-mobi">
              <!--<img src="/img/logo.png" alt="Swyp Logo" class="header-mobile__logo" id="banklogo-mobi">-->
            </div>
          </a>
          <h1 class="bank-name" id="heading" data-slug="{{bankSlug}}">
            {{bankSlug}}
          </h1>
          {{!-- <div class="header-mobile__hamburger-box">
          <img src="/img/hamgurger.svg" alt="Nav Button" class="header-mobile__hamburger-image">
        </div> --}}
        </div>
      </div>




      <div class="row des-content hidden-sm hidden-xs">
        <div class="col-12 header-desktop__right-nav">
          <!--<div class="col-6 header-desktop__right-nav">-->





          <a href="/{{bankSlug}}">
            <div class="header-desktop__logo-box dynamic-image-left">
              <img src="/img/logo.png" alt="Swyp Logo" class="header-desktop__logo dynamic" id="banklogo-des">
              <!--<img src="/img/logo.png" style="display: none; margin-top: -5px;"  alt="Swyp Logo" class="header-desktop__logo" id="banklogo-des">-->
            </div>

          </a>
          <h1 class="bank-name" id="heading" data-slug="{{bankSlug}}"><br>
            <!--<span class="slogan" style="font-size: 14px;">Big strong and reliable</span>-->
            {{bankSlug}}
          </h1>






        </div>
      </div>





      <!--<h1 class="bank-name" id="heading" style="color: white;" data-slug="{{!bankSlug}}"><br>-->
      <!--<span class="slogan" style="font-size: 14px;">Big strong and reliable</span>-->
      <!--</h1>-->

    </header>



    {{{body}}}
    {{> bank-footer}}
    {{{scripts}}}
  </body>

</html>