<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Swyp | Life Simplified</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body class="{{bodyClass}}">
    <header class="header">
      <div class="header-mobile mob-content hidden-lg hidden-md hidden-xl">
        <div class="header-mobile__image-box">
          <div class="header-mobile__logo-box">
            <img src="/img/logo.png" alt="Swyp Logo" class="header-mobile__logo">
          </div>
          <div class="header-mobile__hamburger-box">
            <img src="/img/hamgurger.svg" alt="Nav Button" class="header-mobile__hamburger-image">
          </div>
        </div>
        {{!-- <div class="row">
        <div class="header-mobile__search-box">
          <input type="search" class="header-mobile__search-input" placeholder="Search For A Form">
          <div class="header-mobile__search-img-box">
            <img src="/img/search.svg" alt="Magnifying glass" class="header-mobile__search-img">
          </div>
        </div>
      </div> --}}
      </div>
      <div class="row header-desktop hidden-sm-down hidden-xs">
        <div class="col-12 header-desktop__right-nav">
          <!--<div class="col-6 header-desktop__right-nav">-->
          <div class="header-desktop__logo-box">
            <a href="/">
              <img src="/img/logo.png" alt="Swyp Logo" class="header-desktop__logo">
              <!--<img src="/img/feature-1.svg" alt="Swyp Logo" class="header-desktop__logo">-->
            </a>
          </div>
          <nav class="header-desktop__nav">
            <ul class="header-desktop__nav-list">
              <li class="header-desktop__nav-item"><a href="/partners">Banks</a></li>
              <li class="header-desktop__nav-item"><a href="/faqs">How It Works</a></li>
              <li class="header-desktop__nav-item call-to-action"><a href="/partners" style="color:#fff;">Get Started</a></li>
            </ul>

          </nav>
        </div>
        {{!-- <div class="col-6 header-desktop__left-nav">
        <div class="header-desktop__search-box">
          <input type="text" class="header-desktop__search-input" placeholder="Search For A Form">
          <div class="header-desktop__search-img-box">
            <img src="/img/search.svg" alt="Magnifying glass" class="header-desktop__search-img">
          </div>
        </div>
        <a href="#" class="header-desktop__btn">Sign Up</a>
      </div> --}}
      </div>
    </header>
    {{{body}}}
    {{> default-footer}}
    {{{scripts}}}
  </body>

</html>