<!DOCTYPE html>
<html lang="en">

<head>
  <title>Swyp | Life Simplified </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>
<body style="overflow:hidden;" data-bankslug="{{bankSlug}}" data-formtypeparent="{{formTypeParent}}" data-formtype="{{formType}}"
  data-formslug="{{form}}">

  {{!-- Dynamic content goes here --}}
  {{{scripts}}}
</body>

</html>