<!--<div class="outer-space">-->
<main class="bank-home__main">
  <h1 class="bank-name" style="display:none" id="heading" data-slug="{{bankSlug}}">
    {{bankSlug}}
    {{!-- <span class="slogan" style="font-size: 16px;">Big strong and reliable</span> --}}
  </h1>
  <section class="section-description des-content u-margin-bottom--medium">
    <p class="bank-slogan" id="description"></p>
  </section>
  <div class="mob-content-body">
  <div class="mob-content">
    <section class="mob-tab-head-section">
      <div class="row">
        <div class="mob-tab-head mob-tab-head--active">
          <div class="mob-tab-head__content" data-tab-btn="true" data-device="mob" role="button"
            data-tab-name="individual-tab">
            Individual
          </div>
        </div>
        <div class="mob-tab-head">
          <div class="mob-tab-head__content" data-tab-btn="true" data-device="mob" role="button"
            data-tab-name="corporate-tab">
            Corporate
          </div>
        </div>
      </div>
    </section>

    <section class="mob-tab-content-section">
      {{!-- form types from the bank service would be inserted here --}}
    </section>
  </div>
  </div>

  <!--<p class="bols" style="background: red;">Monastery </p>-->
  <div class="des-content breath desktop-contents hidden-sm hidden-xs">
    <section class="main-content">
      <section class="des-tab-head-section u-margin-bottom--medium">
        <div class="des-tab-head__btn des-tab-head__btn--active u-margin-right--small" role="button" data-tab-btn="true"
          data-tab-name="individual-tab" data-device="des">Personal Account Forms</div>
        <div class="des-tab-head__btn" role="button" data-tab-btn="true" data-tab-name="corporate-tab"
          data-device="des">Corporate
          Account Forms</div>
      </section>

      <section class="des-tab-content-section">
        {{!-- form types from the bank service would be inserted here --}}
      </section>
    </section>

    {{!-- <aside class="aside">
      <div class="row u-margin-bottom--small">
        <div class="col-12">
          <div class="form-box ">
            <a href=""><span class="form-box__link"></span></a>
            <div class="form-box__img-box">
              <div class="form-box__img-innerbox">
                <img src="/img/form.svg" alt="Registration Image" class="form-box__img">
              </div>
            </div>
            <div class="form-box__text-box">
              <h4 class="fourth-heading">Corporate Current Account</h4>
            </div>
            <div class="form-box__timer-box">
              <div class="form-box__timer-innerbox">
                <img src="/img/timer.svg" alt="Registration Image" class="form-box__timer">
                <span class="form-box__timer-text">3min</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside> --}}
  </div>
</main>