{{!-- this document uses the checkbox hack to enable expansion and collapsing of cards --}}
<main class="faq-page__main">
  <section class="section-title des-content u-margin-bottom--small">
    <h1>FAQ</h1>
  </section>
  <div class="u-padding--horizontal">
    <section class="text-section u-margin-bottom--small">
      <input type="checkbox" class="text-section__checkbox" id="expand">
      <div class="text-section__head">
        <div class="text-section__head-content">
          <h2>What is Swyp?</h2>
          <label class="text-section__icon-wrapper" for="expand">
            <img src="/img/carat-down.svg" alt="Carat" class="text-section__icon">
          </label>
        </div>
      </div>
      <div class="text-section__body">
        <div class="text-section__body-content">
          <p>
            Swyp is an online platform that allows you fill digital versions of your bank’s paper-based forms. We
            simply
            the forms, make them easier to understand and put them online so you can fill them on your smartphone or
            computer. With Swyp, your next instruction to the bank is just one click away.
          </p>
        </div>
      </div>
    </section>
    <section class="text-section u-margin-bottom--small">
      <input type="checkbox" class="text-section__checkbox" id="expand2">
      <div class="text-section__head">
        <div class="text-section__head-content">
          <h2>What’s wrong with paper forms?</h2>
          <label class="text-section__icon-wrapper" for="expand2">
            <img src="/img/carat-down.svg" alt="Carat" class="text-section__icon">
          </label>
        </div>
      </div>
      <div class="text-section__body">
        <div class="text-section__body-content">
          <ul class="text-section__body-content-list">
            <li>
              Customers often have to go to bank branches to pick up and drop off paper forms
            </li>
            <li>
              While at the branch, customers spend time queuing for these forms
            </li>
            <li>
              The forms are often lengthy, difficult to understand and have duplicated questions
            </li>
            <li>
              With paper-based processes, it can be unclear knowing upfront all the requirements/documentation needed
              to
              complete the process. This often leads to multiple trips to the branch
            </li>
            <li>
              It is difficult for banks to track or call-up information processed using paper forms
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="text-section u-margin-bottom--small">
      <input type="checkbox" class="text-section__checkbox" id="expand3">
      <div class="text-section__head">
        <div class="text-section__head-content">
          <h2>What’s different about forms filled on Swyp?</h2>
          <label class="text-section__icon-wrapper" for="expand3">
            <img src="/img/carat-down.svg" alt="Carat" class="text-section__icon">
          </label>
        </div>
      </div>
      <div class="text-section__body">
        <div class="text-section__body-content">
          <ul class="text-section__body-content-list">
            <li>
              Simplified forms – well-laid out, easy to understand and no duplicated questions
            </li>
            <li>
              Highly improved user experience that doesn’t involve visits to the branch or phone calls to Bank Account
              Officers
            </li>
            <li>
              Web-based forms that can be completed and submitted on smartphones and computers
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="text-section u-margin-bottom--small">
      <input type="checkbox" class="text-section__checkbox" id="expand4">
      <div class="text-section__head">
        <div class="text-section__head-content">
          <h2>Are online forms save?</h2>
          <label class="text-section__icon-wrapper" for="expand4">
            <img src="/img/carat-down.svg" alt="Carat" class="text-section__icon">
          </label>
        </div>
      </div>
      <div class="text-section__body">
        <div class="text-section__body-content">
          <p>
            We take the security and privacy of your data extremely seriously and utilise the latest technology to
            ensure
            your data is securely transmitted to your local bank. Swyp does not save your data but instead acts as a
            pipeline to pass the data directly to your bank who is responsible for saving it securely.
          </p>
        </div>
      </div>
    </section>
    <section class="text-section u-margin-bottom--small">
      <input type="checkbox" class="text-section__checkbox" id="expand5">
      <div class="text-section__head">
        <div class="text-section__head-content">
          <h2>What do I need to fill a form on Swyp?</h2>
          <label class="text-section__icon-wrapper" for="expand5">
            <img src="/img/carat-down.svg" alt="Carat" class="text-section__icon">
          </label>
        </div>
      </div>
      <div class="text-section__body">
        <div class="text-section__body-content">
          <p>
            To start filling a form on Swyp, all you need is an internet-enabled smartphone or computer.
          </p>
        </div>
      </div>
    </section>
    <section class="text-section u-margin-bottom--small">
      <input type="checkbox" class="text-section__checkbox" id="expand6">
      <div class="text-section__head">
        <div class="text-section__head-content">
          <h2>Why should I use Swyp?</h2>
          <label class="text-section__icon-wrapper" for="expand6">
            <img src="/img/carat-down.svg" alt="Carat" class="text-section__icon">
          </label>
        </div>
      </div>
      <div class="text-section__body">
        <div class="text-section__body-content">
          <p>
            You no longer need to visit bank branches to fill forms. With Swyp, you can fill digital versions of banks
            forms online. By simplifying the forms and making them accessible on your smartphone and computer, we help
            save you time, money and stress.
          </p>
        </div>
      </div>
    </section>
    <section class="text-section u-margin-bottom--small">
      <input type="checkbox" class="text-section__checkbox" id="expand7">
      <div class="text-section__head">
        <div class="text-section__head-content">
          <h2>Does Swyp work for business/corporate accounts?</h2>
          <label class="text-section__icon-wrapper" for="expand7">
            <img src="/img/carat-down.svg" alt="Carat" class="text-section__icon">
          </label>
        </div>
      </div>
      <div class="text-section__body">
        <div class="text-section__body-content">
          <p>
            All bank customers with personal and business accounts will find hundreds of bank forms on Swyp.
          </p>
        </div>
      </div>
    </section>
    <section class="text-section u-margin-bottom--small">
      <input type="checkbox" class="text-section__checkbox" id="expand8">
      <div class="text-section__head">
        <div class="text-section__head-content">
          <h2>Do I need to sign the forms on Swyp?</h2>
          <label class="text-section__icon-wrapper" for="expand8">
            <img src="/img/carat-down.svg" alt="Carat" class="text-section__icon">
          </label>
        </div>
      </div>
      <div class="text-section__body">
        <div class="text-section__body-content">
          <p>
            For forms that require your signature, all you need to do is attach a digital version of your signature. If
            you don’t already have a digital version of your signature, all you need to do is write your signature on a
            plain piece of white paper, take a photo of the signature and upload it.
          </p>
        </div>
      </div>
    </section>
    <section class="text-section u-margin-bottom--small">
      <input type="checkbox" class="text-section__checkbox" id="expand9">
      <div class="text-section__head">
        <div class="text-section__head-content">
          <h2>Do I still need to go to the bank to submit my supporting documents?</h2>
          <label class="text-section__icon-wrapper" for="expand9">
            <img src="/img/carat-down.svg" alt="Carat" class="text-section__icon">
          </label>
        </div>
      </div>
      <div class="text-section__body">
        <div class="text-section__body-content">
          <p>
            With Swyp, there is no need to go the bank. To submit any supporting documents, scan or take a photo of
            them
            and upload.
          </p>
        </div>
      </div>
    </section>
    <section class="text-section u-margin-bottom--small">
      <input type="checkbox" class="text-section__checkbox" id="expand10">
      <div class="text-section__head">
        <div class="text-section__head-content">
          <h2>How long does it take to fill a form on Swyp?</h2>
          <label class="text-section__icon-wrapper" for="expand10">
            <img src="/img/carat-down.svg" alt="Carat" class="text-section__icon">
          </label>
        </div>
      </div>
      <div class="text-section__body">
        <div class="text-section__body-content">
          <p>
            Every form on Swyp has a stamp indicating the estimated amount of time it takes to complete. This time will
            no doubt vary depending on several factors, including but not limited to, the speed of your internet
            connection, your typing speed, whether you have all required information readily available. Also, as you
            complete a form on Swyp, a real-time tracker will let you know your progress completion e.g. 6 questions
            answered out of 10.
          </p>
        </div>
      </div>
    </section>
    <section class="text-section u-margin-bottom--small">
      <input type="checkbox" class="text-section__checkbox" id="expand11">
      <div class="text-section__head">
        <div class="text-section__head-content">
          <h2>How long does it take to process a form on Swyp?</h2>
          <label class="text-section__icon-wrapper" for="expand11">
            <img src="/img/carat-down.svg" alt="Carat" class="text-section__icon">
          </label>
        </div>
      </div>
      <div class="text-section__body">
        <div class="text-section__body-content">
          <p>
            When you fill a form on Swyp, it is immediately transmitted to your bank. The bank is ultimately
            responsible
            for determining the length of time it takes to process your request.
          </p>
        </div>
      </div>
    </section>
    <section class="text-section u-margin-bottom--small">
      <input type="checkbox" class="text-section__checkbox" id="expand12">
      <div class="ext-section__head">
        <div class="text-section__head-content">
          <h2>How much does it cost to use Swyp?</h2>
          <label class="text-section__icon-wrapper" for="expand12">
            <img src="/img/carat-down.svg" alt="Carat" class="text-section__icon">
          </label>
        </div>
      </div>
      <div class="text-section__body">
        <div class="text-section__body-content">
          <p>
            It’s free to use Swyp to fill your bank forms.
          </p>
        </div>
      </div>
    </section>
  </div>
</main>