<main class="partners-page__main">
  <div class="section-text u-margin-bottom--medium  u-paddding--horizontal">
    <h2 class="heading-info">
      <span class="big">Partners</span>
      <span class="sub">Find hundreds of forms from these banks</span>
    </h2>
  </div>
  <section class="banks-section u-padding--horidzontal row">
    {{!-- banks data from banks service would be loaded here --}}
    <div id="loading-text" class="loading-text">Loading Banks...</div>
  </section>
</main>