<main class="thank-you__main" data-bankslug="{{bank}}">
  <section class="thank-you__content u-margin-bottom--medium">
    <div class="thank-you__img-box">
      <img src="img/thank-you_background.svg" alt="papar plan dropping a form" class="thank-you__img">
    </div>
    <div class="thank-you__text-box">
      <h1>Thank You.</h1>
      <p>Your form has been submitted to <span id="bankname"></span> and will be processed.</p>
    </div>
  </section>
  {{!-- <section class="related-forms u-margin-bottom--medium des-content">
    <div class="related_forms__text u-margin-bottom--small">
      <h3>Other Forms Recommended For You</h3>
    </div>
    <div class="row u-margin-bottom--small">
      <div class="col-6">
        <div class="form-box">
          <a href="forms.html"><span class="form-box__link"></span></a>
          <div class="form-box__img-box">
            <div class="form-box__img-innerbox">
              <img src="img/form.svg" alt="Registration Image" class="form-box__img">
            </div>
          </div>
          <div class="form-box__text-box">
            <h4 class="fourth-heading">Corporate Current Account</h4>
          </div>
          <div class="form-box__timer-box">
            <div class="form-box__timer-innerbox">
              <img src="img/timer.svg" alt="Registration Image" class="form-box__timer">
              <span class="form-box__timer-text">3min</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-box">
          <a href="forms.html"><span class="form-box__link"></span></a>
          <div class="form-box__img-box">
            <div class="form-box__img-innerbox">
              <img src="img/form.svg" alt="Registration Image" class="form-box__img">
            </div>
          </div>
          <div class="form-box__text-box">
            <h4 class="fourth-heading">GTBusiness Account - Corporate</h4>
          </div>
          <div class="form-box__timer-box">
            <div class="form-box__timer-innerbox">
              <img src="img/timer.svg" alt="Registration Image" class="form-box__timer">
              <span class="form-box__timer-text">3min</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> --}}

</main>
