
.interectionSection {
  height: 100vh;
  overflow: hidden;
}

.canvas {
  height: 100%;
  overflow: scroll;
  padding-bottom: 31rem;
  outline: none;
  margin-top:40px;
}
.pb-cont{
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  background-color: #ccc;
  color: #fff;
  width:200px;
  overflow: hidden;
  position: relative;
}
.pb-cont .placeholder{
  position: absolute;
  top:6px;
  left:60px;
}
.pb-cont .pb-inside{
  padding: 2rem 2.9rem;
  cursor: pointer;
  outline: none;
  background-color: var(--color1);
  color: #fff;
  width:2%;

}
.uploadButton {
  position: relative;
  padding:0px !important;
  width:200px;
}
.cam-progress{
  background:var(--color1);
  display:block;
  width:0%;
  height:100%;
}
.upload-btn-txt{
  z-index: 9999999;
  position: absolute;
  top:7px;
  left:-10px;
  color:#000
}
// .canvas::before {
//   content: '';
//   display: block;
//   width: 100%;
//   margin-bottom: 10%;
// }
