.canvas__headerSection {
  width: 100%;
  height: 6vh;
}

.canvas__header {
  border-bottom: 3px solid $tertiary-color-light;
}

.canvas__sectionTitle {
  padding: 1.3rem 20rem;
}

@media only screen and (max-width: 600px) {
  .canvas__headerSection {
    display: none;
  }
  // .canvas__sectionTitle {
  //   padding: 0.4rem 2rem;
  //   font-size: 2rem;
  //   font-weight: 400;
  // }
}
