.intro {
  width: 100%;

  &__info {
    margin-bottom: $small-gutter;
  }

  &__infoText {
    text-align: center;
  }

  &__instruction {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 70%;
    color: $white-color;
    background-color: $secondary-color;
    text-align: center;
    border-radius: 1.8rem;
    padding: 0.8rem 1rem;
    position: relative;
  }

  &__instructionWarning {
    white-space: nowrap;
    margin-right: 0.8rem;
  }

  &__instructionWarning,
  &__instructionIcon {
    display: inline-block;
  }

  &__instructionIcon {
    color: $tertiary-color;
    position: absolute;
    top: 0.8rem;
    font-size: 2rem;
  }

  &__requirements {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  &__requirement {
    width: calc((100% - 6rem) / 4);
    margin-bottom: $medium-gutter;
  }

  &__requirement:not(:last-child) {
    margin-right: $small-gutter;
  }

  &__icon {
    width: 15rem;
    height: 15rem;
    background-color: $tertiary-color-light;
    border-radius: 50%;
  }

  &__iconImage {
    height: 7rem;
    width: 100%;
    margin-top: 4rem;
  }

  &__requirementTextWrapper {
    width: 100%;
  }

  &__requirementText {
    font-size: 1.6rem;
    text-align: center;
  }

  &__actionBtnWrapper {
    width: 19%;
    margin: 0 auto;
    text-align: center;
  }

  &__actonInstruction {
    display: block;
    text-align: center;
    font-size: 1.4rem;
  }

  &__btn {
    text-decoration: none;
    font-size: $default-font;
    padding: 0.6rem 2rem;
    display: inline-block;
    transition: transform 0.2s;
    cursor: pointer;
    outline: none;
  }

  &__btn--primary {
    background-color: $secondary-color;
    color: $white-color;
  }

  &__btn--action {
    border-radius: 10rem;
  }

  &__btn--action:hover {
    opacity: 0.8;
  }
}

.canvas__btn {
  text-decoration: none;
  font-size: $default-font;
  padding: 0.6rem 2rem;
  display: inline-block;
  transition: transform 0.2s;
  cursor: pointer;
  outline: none;
}

.canvas__btn--primary {
  background-color: $secondary-color;
  color: $white-color;
}

.canvas__btn--action {
  white-space: nowrap;
  border-radius: 10rem;
}

.canvas__btn--action:hover {
  opacity: 0.8;
}

.canvas__btn--navigation {
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
}

.canvas__btn--navigation:first-child {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .intro__instruction {
    width: calc(100% - 2rem);
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .intro__instructionWarning {
    margin-right: 0;
  }

  .intro__requirements {
    margin: 0 0.5rem;
    width: 100%;
    flex-direction: column;
  }

  .intro__requirement {
    width: 100%;
    display: flex;
    margin-bottom: 0;
  }

  .intro__requirement:not(:last-child) {
    margin-bottom: 3rem;
  }

  .intro__icon {
    width: 8rem;
    height: 7rem;
  }

  .intro__iconImage {
    height: 3rem;
    margin-top: 2rem;
  }

  .intro__requirementTextWrapper {
    width: 100%;
    margin-left: 0.5rem;
    margin-top: 1.5rem;
  }

  .intro__requirementText {
    text-align: left;
  }

  .intro__actionBtnWrapper {
    width: 22%;
  }

  .intro__actonInstruction {
    margin-left: 4rem;
  }
}

@media only screen and (min-width: 900px) {
  .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
