.optionRoot {
  display: inline-flex;
  width: 70%;
  margin-bottom: -8px;
  flex-wrap: wrap;
  flex-direction: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  min-width: 168px;
}

.optionRoot:not(:last-child) {
  margin-bottom: -2px;
}

.optionWrapper {
  margin-right: 0px;
  margin-bottom: 8px;
  max-width: 100%;
}

.optionContents {
  height: 100%;
  width: auto;
}

.option {
  position: relative;
  min-width: 75px;
  height: auto;
}

.optionContent {
  min-height: 40px;
  color: rgb(79, 176, 174);
  color: #000;
  background-color: rgba(79, 176, 174, 0.1);
  background-color: #ffd7de;
  box-shadow: rgba(79, 176, 174, 0.6) 0px 0px 0px 1px inset;
  box-shadow: #c74057 0px 0px 0px 1px inset;
  cursor: pointer;
  opacity: 1;
  height: auto;
  border-radius: 4px;
}

.optionDecoration {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.optionLabelBox {
  display: flex;
  align-self: flex-start;
  box-shadow: transparent 0px 0px 0px 1px;
  margin: 8px;
}

.optionLabelDecoration {
  position: relative;
  width: 24px;
  min-width: 22px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(79, 176, 174);
  color: #000;
  font-size: 12px;
  line-height: 16px;
  font-family: sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(79, 176, 174, 0.6);
  border-color: #000;
  border-image: initial;
  border-radius: 2px;
}

.optionLabelIcon {
  width: 22px;
  height: 22px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 700;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.optionTextBox {
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 100%;
  min-width: 75px;
  min-height: 40px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 4px 12px 4px 0px;
}

.optionText {
  font-weight: unset;
  font-size: 20px;
  line-height: 28px;
  margin: 0px;
}

.iconWrapper {
  padding-right: 12px;
  width: 36px;
}

.activIconWrapper {
  opacity: 1;
}

.inactivIconWrapper {
  opacity: 0;
}

.optionIconBox {
  height: 2rem;
  align-items: center;
}

.optionIconBox img {
  width: 100%;
  height: 100%;
}

// dropdown options
.dropdownOptionWrapper {
  max-height: 434px;
  overflow: auto;
}

.dropdownOptionWrapper:first-child {
  margin-top: 8px;
}

.dropdownOptionWrapper:not(:last-child) {
  margin-bottom: 4px;
}

.dropDownOption {
  min-height: 40px;
  width: 100%;
  color: rgb(79, 176, 174);
  color: #c74057;
  background-color: rgb(237, 247, 247);
  box-shadow: rgba(79, 176, 174, 0.6) 0px 0px 0px 1px inset;
  box-shadow: #c74057 0px 0px 0px 1px inset;
  cursor: pointer;
  opacity: 1;
  height: auto;
  border-radius: 4px;
}

.optionTextWrapper {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.dropDownOptionText {
  font-weight: unset;
  font-size: 20px;
  line-height: 28px;
  margin-left: 1rem;
  padding-top: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .dropDownOptionText,
  .optionText {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .optionRoot {
    width: 100%;
  }

  //new media query for options and answers
//   .optionDecoration {
//     display: inline-flex;
//     -webkit-box-align: center;
//     align-items: center;
//     max-width: 100%;
// } 

.optionWrapper {
  margin-right: 0px;
  margin-bottom: 8px;
  max-width: 100% !important;
}
  // @media only screen and (max-width: 600px) {...} 
}


