.elementWrapper {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  margin-bottom: 3rem;
}

.dull {
  pointer-events: none;
  user-select: none;
}

.activeElement {
  width: 100%;
  opacity: 1;
  position: relative;
  animation: none 0s ease 0s 1 normal none running;
}

.inactiveElement {
  width: 100%;
  opacity: 0.2;
  position: relative;
  animation: none 0s ease 0s 1 normal none running;
}

.elementParent {
  width: 100%;
  max-width: 840px;
  padding-left: 7rem;
  padding-right: 7rem;
  margin: 0px auto;
}

.elementHouse {
  padding-top: 24px;
  padding-bottom: 24px;
}

.elementInFieldSet {
  border: 0;
  padding: 0.01em 0 0;
  margin: 0;
  min-width: 0;
}

.elementQuestionWrapper {
  font-family: inherit;
  box-sizing: border-box;
  color: rgb(68, 68, 68);
  font-size: 16px;
  line-height: 24px;
}

.elementQuestionContents {
  position: relative;
  -webkit-font-smoothing: antialiased;
  transition: all 0.4s ease 0s;
}

.questionDecorationWrapper {
  position: absolute;
  right: 100%;
  padding-right: 8px;
  height: 32px;
}

.questionDecorationWrapper::after {
  -webkit-font-smoothing: antialiased;
}

.questionDecoration {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(79, 176, 174);
  color: #eb1761;
  font-size: 14px;
  line-height: 20px;
  height: 100%;
}

.questionPosition {
  font-weight: unset;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
}

.questionIcon {
  margin-left: 4px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.questionTextWrapper {
  font-weight: unset;
  font-weight: normal !important;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: rgb(61, 61, 61);
  margin: 0px;
}

.requiredQuestion {
  font-weight: unset;
  display: inline;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin: 0px;
}

.answerWrapper {
  margin-top: 32px;
}

// questions with inputs
.answer {
  display: block;
  width: 100%;
  font-family: inherit;
  color: rgb(79, 176, 174);
  color: #eb1761;
  -webkit-appearance: none;
  font-size: 2.5rem;
  line-height: 3.8rem;
  -webkit-font-smoothing: antialiased;
  padding: 0px 24px 8px 10px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  border-radius: 0px;
  transition: box-shadow 0.2s ease 0s;
  background: none;
}

.answer::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.textAreaAnswer {
  overflow-x: hidden;
  overflow-wrap: break-word;
  z-index: auto;
  position: relative;
  line-height: 3.75rem;
  font-size: 3rem;
  transition: none 0s ease 0s;
  background: transparent !important;
  height: 4.8rem;
  word-wrap: break-word;
  resize: none;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: 0;
  border: 0;
  border-bottom: 1px solid;
  background: none;
  padding: 0 0 10px 10px;
  width: 100%;
  font-family: inherit;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.25;
  border-color: rgba(79, 176, 174, 0.4);
  border-color: #eb1761;
  color: #c74057;
}

.answer:not(:focus),
.textAreaAnswer:not(:focus) {
  box-shadow: rgba(79, 176, 174, 0.3) 0px 1px;
  box-shadow: #eb1761 0px 1px;
}

.answer:focus {
  outline: none;
  border-bottom: 3px solid #eb1761;
}

.answer:focus:invalid {
  border-bottom: 3px solid $color-secondary;
}

.anwerHint {
  color: #4fb0ae;
  color: #eb1761;
  margin: 18px 0 0;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  padding: 0;
}

// questions with options
.answerContent {
  outline: none;
}

.answerBox {
  position: relative;
}

.answerText {
  position: relative;
}

.answerDecorationWrapper {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  width: 24px;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.answerDecoration {
  font-size: 3rem;
  color: rgb(79, 176, 174);
}

.inactiveWrapper {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
  display: none
}

.activeWrapper {
  opacity: 1;
}

.answerOptionsWrapper {
  transition: all 200ms ease 0ms;
}

.optionsBox {
  z-index: 30;
  width: 100%;
}

//Next question button
.nextButtonWrapper {
  display: flex;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 1;
  align-items: center;
  margin-top: 1.5rem;
}

.inactiveNextButtonWrapper {
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
}

.nextButton,
.uploadButton,
.resetButton,
.askPermissionBtn {
  padding: 7px 8px 7px;
  min-width: 4rem;
  background-color: #eb1761;
  color:#fff;
  border-radius:20px;
  margin: 0;
  height: 4rem;
  display: inline-block;
  border: 1px solid;
  border: none;
  position: relative;
  font-family: inherit;
  outline: none;
  cursor: pointer;
}

.resetButton {
  margin-left: 1rem;
}

.nextButtonText {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0 5px;
  line-height: 2.5rem;
  height: 100%;
  width: 100%;
}

.buttonInstruction {
  color: #4fb0ae;
  color: #eb1761;
  font-size: 1.2rem;
  letter-spacing: 0.3px;
  line-height: 17px;
  font-weight: 400;
  margin-left: 1rem;
  display: inline-block;
  white-space: nowrap;
}

// Validation related
.validationWrapper {
  transform: translateY(8px);
  transition: all 300ms ease 0ms;
  width: 50%;
}

.inactiveValidation {
  opacity: 0;
  pointer-events: none;
}

.validation {
  background-color: rgba(153, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 4px 8px;
}

.validationText {
  font-weight: unset;
  font-size: 1.4rem;
  line-height: 2rem;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  margin: 0px;
  padding-bottom: 1rem;
}

.childHouse {
  margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
  .elementWrapper:not(:last-child) {
    margin-bottom: 22rem;
  }

  .elementWrapperMedia {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .questionTextWrapper {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .elementParent {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .answer,
  .textAreaAnswer {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .validationWrapper {
    width: 100%;
  }

  .dropArea {
    min-width: 100% !important;
  }

  .nextButtonText {
    font-size: 1.6rem;
  }
}
