.submitSection {
  height: 50vh;
  margin-top: 56px;
  overflow: hidden;
  outline: 0px;
}

.submit {
  box-sizing: border-box;
  padding-top: 30px;
  height: 100%;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.itemsWrapper {
  width: 100%;
  max-width: 840px;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0px auto;
}

.items {
  font-family: inherit;
  box-sizing: border-box;
  color: rgb(68, 68, 68);
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: flex-start;
}

.contentWrapper {
  width: 100%;
}

.contentWrapper > * {
  flex: 0 0 auto;
}

.contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
}

.submitButton {
  position: relative;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
  min-height: 48px;
  background-color: rgb(79, 176, 174);
  background-color:#c74057;
  color: rgb(255, 255, 255);
  // color: #000;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s,
    border-color 0.2s ease 0s, opacity 0.2s ease 0s;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  padding: 6px 18px 8px;
  border-color: transparent;
  border-radius: 4px;
}

.jhOZlx {
  font-weight: unset;
  font-size: 24px;
  line-height: 32px;
  margin: 0px;
}

.bmzmvX {
  white-space: nowrap;
  color: rgb(79, 176, 174);
}

.kvyvll {
  display: inline-block;
}

.mOlEV {
  font-weight: unset;
  font-size: 12px;
  line-height: 16px;
  font-family: sans-serif;
  margin: 0px;
}

@media only screen and (max-width: 600px) {
  .submitSection {
    height: 34vh;
  }
  .submitButton {
    font-weight: 400;
  }
}
