.video {
  &__liveCont {
    position: relative;
  }
  &__toggleCam {
    position:absolute;
    top:10px;
    right:40px;
    z-index:100;
    border:none;
    box-shadow: 0px 0px 10px #222;
    background:#ddd;
    cursor: pointer;
    padding:0px 8px;
    border-radius: 4px;

    i{
      color:#222;
      font-size: 35px;
      pointer-events: none;
    }
    &:active{
      background: #444;
      i{color:#fff;}
    }
    &:hover{
      box-shadow: 0px 0px 10px #000;
      i{color:#222;}
    }
  }

  &__players {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1rem;
  }
  &__playerLive {
    // width: 35rem;
    width: 25rem;
    background: black;
    --width: 25vw;
    height: 25rem;
    &:first-of-type {
      margin-right: 2rem;
    }
  }
  &__player {
    width: 25rem;
    background: black;
    --width: 25vw;
    height: 25rem;
    &:first-of-type {
      margin-right: 2rem;
    }
  }

  &__control {
    padding: 7px 8px 7px;
    min-width: 40px;
    font-size: 2rem;
    background-color: #eb1761;
    background-color: var(--color1);
    margin: 0;
    height: 40px;
    display: inline-block;
    border: 1px solid;
    position: relative;
    font-family: inherit;
    outline: none;
    cursor: pointer;
    margin-bottom: 1rem;
  }
}

.picture {
  display: flex;
  flex-flow: row nowrap;
  .video__toggleCam {
    position:absolute;
    top:10px;
    right:10px;
  }
  &__feed {
    width: 24rem;
    height: 24rem;
    position: relative;
    margin-right: 2rem;
    margin-bottom: 4rem;
  }

  &__live {
    // border: 1px solid black;
    // box-shadow: 2px 2px 3px black;
    border:none;
    box-shadow: none;
    width: 100%;
    height: 100%;
  }

  &__capture {
    position: absolute;
    left: 50%;
    top: 76%;
    opacity: 0;
    transform: translate(-50%);
    padding: 7px 8px 7px;
    min-width: 40px;
    background-color: #eb1761;
    background-color: var(--color1);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0;
    height: 40px;
    display: inline-block;
    border: 1px solid;
    font-family: inherit;
    outline: none;
    cursor: pointer;
  }

  &__output {
    width: 34rem;
  }

  &__photo {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 25rem;
    height: 24rem;
  }

  &__canvas {
    display: none;
  }
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

#clockdiv > div {
  padding: 5px 8px;
  border-radius: 3px;
  background: #00bf96;
  background: var(--color1);
  display: inline-block;
}

#clockdiv div > span {
  padding: 0px 11px;
  border-radius: 3px;
  background: ;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .video__control {
    font-size: 1.6rem;
  }

  .in-mobile {
    margin-top: 0;
  }

  .picture__feed {
    margin-bottom: 2rem;
  }

  .video__player {
    width: 24rem;
    height: 24rem;
  }

  .picture__feed {
    width: 28rem;
    height: 24rem;
  }

  .picture__output {
    width: 28rem;
    height: 24rem;
  }
}
