@mixin clearfix {
  ::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin uploadStatus {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
