<div class="elementWrapper dull elementWrapperDropdown" data-q-id="{{id}}" data-question="true">
  <section class="inactiveElement">
    <div class="elementParent">
      <div class="elementHouse">
        <div>
          <div class="elementQuestionWrapper">
            <div class="elementQuestionContents">
              <div class="questionDecorationWrapper">
                <span class="questionDecoration">
                  {{#unless compact}}
                  <div class="questionPosition" data-q-position={{position}}>
                        {{position}}
                  </div>
                  {{/unless}}
                  <div class="questionIcon">
                    <span>
                      <i class="fa fa-arrow-right"></i>
                    </span>
                  </div>
                </span>
              </div>
            </div>
          </div>
          <div class="questionTextWrapper">
            <span>
              <span>{{question}}</span>
              {{#if isRequired }}
              <div class="requiredQuestion">*</div>
              {{/if}}
            </span>
          </div>
          <p class="description">{{description}}</p>
        </div>
        <div>
          <div class="answerWrapper">
            <div class="answerContent" tabIndex="-1">
              <div class="answerBox">
                <div class="answerText">
                  <input class="answer input" placeholder="{{placeholder}}" data-q-id="{{id}}" data-q-type="dropdown"
                    id="{{id}}" />
                  <div class="answerDecorationWrapper">
                    <div class="answerDecoration">
                      <span data-q-id="{{id}}">
                        <i class="fa fa-angle-down" data-q-id="{{id}}"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="inactiveWrapper dropdownOptions" data-q-id="{{id}}">
                  <div class="optionsBox" data-q-id="{{id}}">
                    {{{optionsString}}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="validationWrapper inactiveValidation" data-validation-msg-for="{{id}}">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
