<div class="dropdownOptionWrapper" data-resource-id="{{resourceId}}" data-option-id="{{id}}" data-option-type="dropdown" data-q-id="{{id}}" data-control-type="{{dropdownType}}"  {{#if parent}} data-parent-id="{{parent}}" {{/if}}>
  <div class="optionContents">
    <div class="optionBox">
      <div class="dropDownOption">
        <div class="optionTextWrapper">
          <div class="optionTextBox">
            <div class="dropDownOptionText text">{{text}}</div>
          </div>
          <div class="iconWrapper inactivIconWrapper">
            <div class="optionIconBox">
              <span>
                <img src="/img/picked-green.svg" alt="picked" />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>