<section class="canvas__headerSection" style="margin-bottom:10px;">
  <div class="canvas__header">
    <h1 class="canvas__sectionTitle" style="font-size: 20px;color:#000 !important;">{{name}}</h1>
  </div>
</section>