<div class="elementWrapper dull" data-q-id="{{id}}" data-question="true">
  <section class="inactiveElement">
    <div class="elementParent">
      <div class="elementHouse">
        <div>
          <div>
            <div class="elementQuestionWrapper">
              <div class="elementQuestionContents">
                <div class="questionDecorationWrapper">
                  <span class="questionDecoration">
                   {{#unless compact}}
                  <div class="questionPosition" data-q-position={{position}}>
                        {{position}}
                  </div>
                  {{/unless}}
                    <div class="questionIcon">
                      <span>
                        <i class="fa fa-arrow-right"></i>
                      </span>
                    </div>
                  </span>
                </div>
                <div class="questionTextWrapper">
                  <label for="id=" {{id}}""> {{question}}?</label>
                  {{#if isRequired }}
                  <div class="requiredQuestion">*</div>
                  {{/if}}
                </div>
                <p class="description">{{description}}</p>
              </div>
            </div>
          </div>
          <div>


            <div class="answerWrapper">
              <textarea data-q-position="{{position}}" placeholder="{{placeholder}}" class="textAreaAnswer input"
                id="{{id}}" data-q-id="{{id}}" required="{{isRequired}}"></textarea>
            </div>
            <p class="anwerHint">
              <strong>SHIFT</strong> + <strong>ENTER</strong> To make a new line
            </p>





            {{!-- <div class="nextButtonWrapper inactiveNextButtonWrapper" id="{{id}}">
              <button class="nextButton" id="{{id}}">
                <span class="nextButtonText" id="{{id}}">OK</span>
              </button>
              <div class="buttonInstruction">
                Press <strong>Enter</strong>
              </div>
            </div> --}}
            <div class="validationWrapper inactiveValidation" data-validation-msg-for="{{id}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
