<section class="container-fluid stretch">
<div class="row header-wrap">

    <span class="image-left">
		<img src="/img/logo.png" alt="Swyp Logo" class="header-desktop__logo bank-page-dynamic" id="banklogo-des">
	</span>

    <div class="bank-name">Registration form</div>

</div>


</section>




<section class="container-fluid">

    <div class="row cover-center">
        <h3>Kindly fill out all the fields with accurate information to aid smooth processing of your form.
            You will need below documents before you can complete the form.</h3>
    </div>


    <div class="col-sm-12 form-header">
        <h3 class="text-flow">Form Requirement</h3>
    </div>


    <div class="row parent-wrap">

        <!--{{!#each components}}-->
            <!--<div class="intro__requirement">-->
                <!--<div class="intro__icon">-->
                    <!--<img class="intro__iconImage" src="/img/{{!this.name}}.svg" alt="{{!this.name}} Icon" />-->
                <!--</div>-->
                <!--<div class="intro__requirementTextWrapper">-->
                    <!--<h3 class="intro__requirementText">-->
                        <!--{{!this.description}}-->
                    <!--</h3>-->
                <!--</div>-->
            <!--</div>-->
        <!--{{!/each}}-->

        <!--<div class="col-sm-2 bottom">-->
        <!--<span class="requirement util"><i class="fa fa-check" aria-hidden="true"></i></span>-->
        <!--<h5>Utility Bill</h5>-->
        <!--</div>-->


        {{#each components}}
            <!--<div class="col-sm-2 bottom">-->
            <!--<div class="col-sm-2 bottom">-->
            <div class="col-3 col--mobile">
                <span class="requirement sign">
                    <img class="intro__iconImage" src="/img/{{this.name}}.svg" alt="{{this.name}} Icon"/>
                </span>
                <h5>{{this.description}}</h5>
            </div>
        {{/each}}





        <!--<div class="col-sm-2 bottom">-->
            <!--<span class="requirement sign"><i class="fa fa-check" aria-hidden="true"></i></span>-->
            <!--<h5>Signature</h5>-->
        <!--</div>-->













        <!--<div class="col-sm-2 bottom">-->
            <!--<span class="requirement util"><i class="fa fa-check" aria-hidden="true"></i></span>-->
            <!--<h5>Utility Bill</h5>-->
        <!--</div>-->
        <!---->
        <!--<div class="col-sm-2 bottom">-->
            <!--<span class="requirement bcert"><i class="fa fa-check" aria-hidden="true"></i></span>-->
            <!--<h5>Birth Certificate</h5>-->
        <!--</div>-->
        <!---->
        <!--<div class="col-sm-2 bottom">-->
            <!--<span class="requirement bcert"><i class="fa fa-check" aria-hidden="true"></i></span>-->
            <!--<h5>Visa</h5>-->
        <!--</div>-->
        <!---->
        <!--<div class="col-sm-2 bottom">-->
            <!--<span class="requirement bcert"><i class="fa fa-check" aria-hidden="true"></i></span>-->
            <!--<h5>Bills</h5>-->
        <!--</div>-->
        <!---->
        <!--<div class="col-sm-2 bottom">-->
            <!--<span class="requirement bcert"><i class="fa fa-check" aria-hidden="true"></i></span>-->
            <!--<h5>CAC</h5>-->
        <!--</div>-->



    </div>

    <div class="buttons">
        <a href="" class="btn-link">Proceed to Form</a>
    </div>

    <button class="canvas__btn canvas__btn--primary canvas__btn--action" id="getStarted">
        I am Ready
    </button>


</section>
