<div style="overflow: scroll !important;">
<section class="container-fluid stretch">



    <div class="row header-wrap">
    <a href="/{{bankSlug}}">
    <div class="image-left dynamic-image-parent">
        <!--<img class="img-responsive logo-circle" src="/img/unionbank.png" alt="Union Bank">-->
         <img src="/img/logo.png" alt="Swyp Logo" class="header-desktop__logo bank-page-dynamic" id="banklogo-des">
         <!--<img src="https://swyp-assets.s3.eu-central-1.amazonaws.com/logos/1567606884630_gtbanklogo.png" alt="Swyp Logo" class="header-desktop__logo bank-page-dynamic" id="banklogo-des">-->
    </div>
    </a>

    <div class="bank-name">Registration form</div>
    </div>

</section>



<!--<a href="/{{!bankSlug}}">-->
    <!--<div class="header-desktop__logo-box dynamic-image-left">-->
        <!--<img src="/img/logo.png" alt="Swyp Logo" class="header-desktop__logo dynamic" id="banklogo-des">-->
    <!--</div>-->
    <!--<h1 class="bank-name" id="heading" data-slug="{{!bankSlug}}"><br>-->
    <!--</h1>-->
<!--</a>-->



<section class="container-fluid">

    <div class="row cover-center">
        <h3>Kindly fill out all the fields with accurate information to aid smooth processing of your form.
            You will need below documents before you can complete the form.</h3>
    </div>


    <div class="col-sm-12 form-header">
        <h3 class="text-flow">Form Requirements</h3>
    </div>


    <div class="row parent-wrap">

        <!--{{!#each components}}-->
            <!--<div class="intro__requirement">-->
                <!--<div class="intro__icon">-->
                    <!--<img class="intro__iconImage" src="/img/{{!this.name}}.svg" alt="{{!this.name}} Icon" />-->
                <!--</div>-->
                <!--<div class="intro__requirementTextWrapper">-->
                    <!--<h3 class="intro__requirementText">-->
                        <!--{{!this.description}}-->
                    <!--</h3>-->
                <!--</div>-->
            <!--</div>-->
        <!--{{!/each}}-->

        <!--<div class="col-sm-2 bottom">-->
        <!--<span class="requirement util"><i class="fa fa-check" aria-hidden="true"></i></span>-->
        <!--<h5>Utility Bill</h5>-->
        <!--</div>-->


        {{#each components}}
            <!--<div class="col-sm-2 bottom">-->
            <!--<div class="col-sm-2 bottom">-->
            <div class="col-3 col--mobile">
                <span class="requirement sign">
                    <img class="intro__iconImage" src="/img/{{this.name}}.svg" alt="{{this.name}} Icon"/>
                </span>
                <h5>{{this.description}}</h5>
            </div>
        {{/each}}





        <!--<div class="col-sm-2 bottom">-->
            <!--<span class="requirement sign"><i class="fa fa-check" aria-hidden="true"></i></span>-->
            <!--<h5>Signature</h5>-->
        <!--</div>-->













        <!--<div class="col-sm-2 bottom">-->
            <!--<span class="requirement util"><i class="fa fa-check" aria-hidden="true"></i></span>-->
            <!--<h5>Utility Bill</h5>-->
        <!--</div>-->
        <!---->
        <!--<div class="col-sm-2 bottom">-->
            <!--<span class="requirement bcert"><i class="fa fa-check" aria-hidden="true"></i></span>-->
            <!--<h5>Birth Certificate</h5>-->
        <!--</div>-->
        <!---->
        <!--<div class="col-sm-2 bottom">-->
            <!--<span class="requirement bcert"><i class="fa fa-check" aria-hidden="true"></i></span>-->
            <!--<h5>Visa</h5>-->
        <!--</div>-->
        <!---->
        <!--<div class="col-sm-2 bottom">-->
            <!--<span class="requirement bcert"><i class="fa fa-check" aria-hidden="true"></i></span>-->
            <!--<h5>Bills</h5>-->
        <!--</div>-->
        <!---->
        <!--<div class="col-sm-2 bottom">-->
            <!--<span class="requirement bcert"><i class="fa fa-check" aria-hidden="true"></i></span>-->
            <!--<h5>CAC</h5>-->
        <!--</div>-->



    </div>

    <button class="buttons btn-link canvas__btn canvas__btn--primary canvas__btn--action" id="getStarted">Proceed to Form
        <!--<a href="" class="btn-link canvas__btn canvas__btn--primary canvas__btn--action" id="getStarted">Proceed to Form</a>-->
    </button>

    <!--<button class="canvas__btn canvas__btn--primary canvas__btn--action" id="getStarted">-->
        <!--I am Ready-->
    <!--</button>-->


</section>
</div>
