<div class="optionRoot" data-option-id="{{id}}">
  <div class="optionWrapper">
    <div class="optionContents">
      <div class="option">
        <div class="optionContent">
          <div class="optionDecoration" data-input="true">
            <div class="optionLabelBox">
              <div class="optionLabelDecoration">
                <span class="optionLabelIcon">{{label}}</span>
              </div>
            </div>
            <div class="optionTextBox">
              <div class="optionText text">{{text}}</div>
            </div>
            <div class="iconWrapper inactivIconWrapper">
              <div class="optionIconBox">
                <span>
                  <img src="/img/picked-green.svg" alt="picked" />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>