<section class="activeElement">
  <div class="elementParent">
    <div class="elementHouse">
      <div>
        <div class="elementQuestionWrapper">
          <div class="elementQuestionContents">
            <div class="questionDecorationWrapper">
              <span class="questionDecoration">
                {{#unless compact}}
                  <div class="questionPosition" data-q-position={{position}}>
                    {{position}}
                  </div>
                {{/unless}}
                <div class="questionIcon">
                  <span>
                    <i class="fa fa-arrow-right"></i>
                  </span>
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="questionTextWrapper">
          <span>
            <span>{{question}}</span>
            {{#if isRequired }}
              <div class="requiredQuestion">*</div>
            {{/if}}
          </span>
        </div>
        <p class="description">{{description}}</p>
      </div>

    </div>
  </div>
</section>