<div class="video-recorder">
  <div id="clockdiv">
    <div style="display:none;">
      <span class="hours">0</span>
    </div>
    <div style="display:none;">
      <span class="minutes">0</span>
    </div>
    <div>
      <span class="seconds">00</span>
    </div>
  </div>
  <div class="video__players">

    <div class="video__liveCont">
      <video id="live" class="video__playerLive" playsinline autoplay muted></video>
      <button class="video__toggleCam hidden-lg" id="toggleCam" alt="Toggle Cam"><i
          class="ion ion-ios-reverse-camera"></i></button>
    </div>
    <video id="playback" class="video__player des-content" playsinline></video>
    <div class="clearfix"></div>
  </div>
  <div class="video__controls">
    <button id="record" class="video__control">Start Recording</button>
  </div>
</div>