<div class="elementWrapper" data-q-id="{{id}}" data-question="false">
  <section class="submitSection activeElement">
    <div class="submit">
      <div class="itemsWrapper">
        <div class="items">
          <div class="contentWrapper">
            <div class="contents">
              <button class="submitButton" id="submitresponse">
                <div class="sc-gqjmRU jhOZlx">Submit</div>
              </button>
              <div class="sc-chPdSV bmzmvX" color="#4FB0AE">
                <div class="sc-kgoBCf kvyvll">
                  {{!-- <div class="sc-gqjmRU mOlEV des-content">press <strong>ENTER</strong></div> --}}
                </div>
              </div>
            </div>
            <div class="validationWrapper inactiveValidation" id="submit-error-msg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
