<div class="picture">
  <div class="picture__feed" style="position: relative;">
    <video class="picture__live" id="livefeed">Video stream</video>
    <button class="picture__capture" id="capture">Take Photo</button>
    <button class="video__toggleCam hidden-lg" id="pToggleCam" alt="Toggle Cam"><i class="ion ion-ios-reverse-camera"></i></button>
  </div>
  <canvas class="picture__canvas" id="canvas"></canvas>
  <div class="picture__output des-content">
    <img alt="photo from camera" class="picture__photo" id="photo" style="box-shadow:none;border:none;margin-bottom:10px">
  </div>
</div>
