<div>
  {{#if imgUrl}}
  <div class="uploadingImgWrapper">
    <img src="{{imgUrl}}" alt="upload status" class="img" />
  </div>
  {{else}}
  <p class="uploadInstruction">Drag and drop</p>
  {{/if}}
  <label for="{{id}}" class="inputLabel">
    {{labelText}}
  </label>
</div>