.u-center-text {
  text-align: center !important;
}

.section-title {
  padding: 0 2rem;
  padding-top: 4rem;
  width: 100%;
  height: 10rem;
  text-align: center;
  background-color: var(--color1);
  color: $color-white;
}

.breath {
  padding: 0 12rem;
  padding-top: 3rem;
}

.u-margin-bottom--big {
  margin-bottom: $big-gutter;
}

.u-margin-bottom--medium {
  margin-bottom: $medium-gutter;
}

.u-margin-bottom--small {
  margin-bottom: $small-gutter;
}

.u-margin-bottom--thin {
  margin-bottom: $thin-gutter;
}

.u-margin-right--small {
  margin-right: $small-gutter;
}

.u-padding--small {
  padding: $small-gutter;
}

.u-padding--horizontal {
  padding: 0 12rem !important;
}

section.container-fluid{
  background: #f5f5f5;
}

.container-fluid .style .title-here{
  text-align: center;
  margin: 40px 0 40px 0;
  padding-top: 50px;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #eb1761;
}

.container-fluid .style .title-here:after{
  display: block;
  height: 2px;
  background-color: #eb1761;
  content: " ";
  width: 70px;
  margin: 0 auto;
  margin-top: 25px;
}

.step-parent{
  text-align: center;
  margin-top: 60px;
}

.container-fluid .step-parent .inner-child img{
  border-top: 5px solid #eb1761;
  cursor: pointer;
  margin: 0 auto;
  background: #ffffff;
  margin-top: 10px;
  margin-bottom: 80px;
  border-radius: 5px;
  webkit-box-shadow: 0px 0px 9px 0px #d7d7d7;
  -moz-box-shadow: 0px 0px 9px 0px #d7d7d7;
  box-shadow: 0px 0px 9px 0px #d7d7d7;
}
.container-fluid .step-parent .gtbank img{ padding: 30px 30px;}
.container-fluid .step-parent .zenith img{ padding: 30px 30px;}
.container-fluid .step-parent .union img{ padding: 55px 25px;}
.container-fluid .step-parent .access img{padding: 61px 27px;}